#summary-attributes {
    margin: 3% 0 0 10%;
}
#summary-attributes >table td {
    padding: 0.1em 0.6em;
}
#summary-attributes >table tr >td:nth-child(1) {
    color: #7ECC7E;
}
#summary-attributes >table tr >td:nth-child(2) {
    color: #F5BABB;
}
