body {
    background-color: black;
    background-image: url("background-zwartevilt.png");
    background-repeat: repeat;
}
body, p, div {
    font: 16px consolas;
    color: #DDD;
}
a:link {}
a:visited, a:active {
    color: #EBEBEB;
}
a:hover {
    cursor: pointer;
    color: #FFFFFF ! important;
}
::selection {
    background-color: #AAAAAA;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(160, 160, 160, 0.5);
}
::-webkit-scrollbar-corner {
    background-color: rgba(255, 255, 255, 0);
}

#main {}
#label-fn {
    padding: 0 2em;
}
#label-btns {
    margin-left: 2em;
    cursor: pointer;
}
#labels {
    position: fixed;
    -right: 0;
    -margin-right: 100px;
}
#labels >span[href] {
    -background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 5px;
    cursor: pointer;
    padding: 0 7px 0 7px;
}
.label-acting {
    -background-color: rgba(255, 255, 255, 0.55) !important;
    color: #FFF;
}
#panels {
    margin-top: 1.5em;
    width: 98%;
    height: 93%;
    overflow-y: overlay;
    position: absolute;
}
#panels >div {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.flow-inst-block {
    padding: 10px;
    border: 1px solid;
    border-radius: 0.6em;
    position: absolute;
    background-color: rgba(116, 46, 169, 0.1);
    font-size: 14px;
    min-width: 16em;
}
.flow-inst-block td {
    padding: 0 0.5em;
    margin-bottom: 1em;
}
.flow-inst-btn {
    margin-left: 1em;
    cursor: pointer;
    float: right;
}
.flow-inst-code-sec {
    margin-bottom: 5px;
    color: #C0C2FF;
    font-size: 14px;
    margin-left: 1em;
}
.flow-inst-code-addr {
    color: #44A82D;
}
.flow-inst-code-hex {
    color: #1CAC9D;
    display: none;
}
.flow-inst-code-disas {
    color: #FFD5D5;
    padding-left: 1em;
}
.flow-inst-code-disas-num { color: #FFC500;}
.flow-inst-code-disas-reg { color: #FF72E2;}
.flow-inst-block input[type=text] {
    font-size: 13px;
    background-color: transparent;
    color: white;
    border: 1px solid gray;
    margin: 0 0.5em;
    padding: 0.1em 0.5em;
}

.blank-textarea {
    padding: 1em;
    border: 1px solid;
    border-radius: 10px;
    padding: 1.5em 0.5em 0.5em 0.5em;
}
.blank-textarea >textarea {
    color: white;
    margin: 0px;
    border: none;
    -width: 16em;
    -min-height: 9em;
    -height: auto;
    background-color: rgba(255, 255, 255, 0.1);
}


#flow-svg {
    position: absolute;
    -background-color: rebeccapurple;
}



